*{
  margin: 0;
}
.App
{
  display: flex;
}
.CreditCard
{
  background-image: url("background.jpg");
  background-size: 100% 100%;
  width: 505px;
  border-radius: 22px;
  padding: 30px  ;
  color: white;
  margin-left: 25px;
  margin-top:25px;


}
.puce{
  width: 75px;
  margin: 20px 0;
}
.titre{
  font-size: 40px;
  text-align: end;
} 
.container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.num{
  font-size: 20px;
  color: #251b02;
  text-align: center;
  background-color:rgba(136, 197, 221, 0.67);
  width: fit-content;
  letter-spacing:5px;
  word-spacing: 10px;
}
.visa{
  width: 80px;
}
.container-2{
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin-right: 30px;
}
.details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-3{
  display: flex;
  align-items: center;
}
.date{
  font-size: 10px;
  margin: 0;
  padding: 0;
  text-align: end;
 }

 .date-2
 {
  font-size: 25px;
 }

 .validation{
  font-size: 10px;
 }

 .Inputs{
  padding: 20px;
  border:aqua
}

 input
 {
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  
  border-radius: 4px;
 }